<h1>Stupid Coaching</h1>
<form action="/answer" method="get">
  <input type="text" name="ask_question" placeholder="What do you want?">
  <input type="submit" value="Ask!">
</form>
<p><%= @question %></p>

<p><%= @answer %></p>

<a href="http://localhost:3000/answer?ask_question=">Here's the answer</a>



