<h1>Hi!</h1>
<!-- <form action="/pages" method="get">
  <input type="text" name="ask_question" placeholder="How are you?">
</form> -->
<p><%= Hello there %><p>
<%= What time is it? %>

<p>Now is <%= Time.now %><p>
